<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>OddServiceServlet</servlet-name>
        <servlet-class>nz.ac.vuw.swen301.tuts.service.server.OddServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OddServiceServlet</servlet-name>
        <url-pattern>/odd</url-pattern>
    </servlet-mapping>
</web-app>