<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>BrowserServlet</servlet-name>
        <servlet-class>nz.ac.wgtn.swen301.tuts.jee101.BrowserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BrowserServlet</servlet-name>
        <url-pattern>/whatsyourbrowser</url-pattern>
    </servlet-mapping>
</web-app>